*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #e4e9e8;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 1365px;
    height: 80px;
    margin: auto;
    background-color: #fff;
}

.menu{
    width: 400px;
    float: left;
    height:70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items:center;
}

ul li{
    list-style: none;
    margin-left: 32px;
    margin-top: 38px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #04645b;
    font-family: 'Tahoma';
    font-weight: bold;
    position: relative;
    transition: 0.3s ease-in-out;
}

ul li a:after{
    content:"";
    position: absolute;
    background-color: #ef4915;
    height: 3px;
    width: 0%;
    left:3%;
    bottom: -20px;
    transition: 0.3s;
}

ul li a:hover{
    color:#ef4915;
}

ul li a:hover:after{
    width: 100%;
    color:#ef4915;

}

.logout{
    width: 330px;
    float: right;
    margin-left: 270px;
    margin-top: 27px;
}

.btn:hover{

    background:#1ec1b1;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn {
    width: 40%;
    height: 40px;
    background: #fff;
    border: 2px solid #04645b;
    margin-top: -3px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn a{
    text-decoration: none;
    color:#04645b;
    font-weight: bold;
    font-family: 'arial narrow bold';
}

.content h1{
    font-family: 'arial narrow bold';
    font-size: 30px;
    padding-left: 40px;
    margin-top: 3%;
    letter-spacing: 0.5px;
    color:#04645b;
    font-weight: bold;
}

.content h2{
    font-family: 'arial narrow bold';
    font-size: 20px;
    padding-left: 40px;
    margin-top: 1%;
    letter-spacing: 0.5px;
    color: #04645b;
}

.cards{
    width: 15%;
    height: 45%;
    background-color: #fff;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 5px;
}
.cards:hover{
    box-shadow: 2px 2px 10px #04645b;
}

.image img{
    width:100%;
    opacity: 30%;
    border-radius: 1px;
}


.title{
    text-align: left;
    color: #04645b;
    margin-left: 3%;
}

.des1{
    text-align: left;
    float: left;
    margin-top: 7%;
    color: #04645b;
    margin-left: 2%;
}

.des2{
    text-align: right;
    margin-top: 7%;
    color:#04645b;
    margin-right: 3%;
}

.btn1{
    margin-left: 31%;
    margin-top: 3%;
    border:1px solid #04645b;
    padding: 1px;
    border-radius: 2px;
}

.btn1 a{
    font-family: 'arial narrow bold';
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.btn1:hover{
    background-color: #04645b;
    color: white;
}

.cards1{
    width: 15%;
    height: 45%;
    background-color: #fff;
    margin-left: 25%;
    margin-top: -18.6%;
    border-radius: 5px;
}
.cards1:hover{
    box-shadow: 2px 2px 10px #04645b;
}

.cards2{
    width: 15%;
    height: 45%;
    background-color: #fff;
    margin-left: 45%;
    margin-top: -18.6%;
    border-radius: 5px;
}
.cards2:hover{
    box-shadow: 2px 2px 10px #04645b;
}

.cards3{
    width: 15%;
    height: 45%;
    background-color: #fff;
    margin-left: 65%;
    margin-top: -18.6%;
    border-radius: 5px;
}
.cards3:hover{
    box-shadow: 2px 2px 10px #04645b;
}






















