*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: #e4e9e8;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 1365px;
    height: 80px;
    margin: auto;
    background-color: #fff;
}

.menu{
    width: 400px;
    float: left;
    height:70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items:center;
}

ul li{
    list-style: none;
    margin-left: 32px;
    margin-top: 38px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: #04645b;
    font-family: 'Tahoma';
    font-weight: bold;
    position: relative;
    transition: 0.3s ease-in-out;
}

ul li a:after{
    content:"";
    position: absolute;
    background-color: #ef4915;
    height: 3px;
    width: 0%;
    left:3%;
    bottom: -20px;
    transition: 0.3s;
}

ul li a:hover{
    color:#ef4915;
}

ul li a:hover:after{
    width: 100%;
    color:#ef4915;

}

.logout{
    width: 330px;
    float: right;
    margin-left: 270px;
    margin-top: 27px;
}

.btn:hover{

    background:#1ec1b1;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.btn {
    width: 40%;
    height: 40px;
    background: #fff;
    border: 2px solid #04645b;
    margin-top: -3px;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn a{
    text-decoration: none;
    color:#04645b;
    font-weight: bold;
    font-family: 'arial narrow bold';
}

.content h1{
    font-family: 'arial narrow bold';
    font-size: 30px;
    padding-left: 40px;
    margin-top: 3%;
    letter-spacing: 0.5px;
    color:#04645b;
    font-weight: bold;
}

.image img{
    width:50%;
    height: 40%;
    float: right;
    padding-top: 45px;
}

.des1{
    text-align: left;
    float: left;
    margin-top: 2%;
    color: #04645b;
    margin-left: 2%;
}

.des2{
    text-align: right;
    margin-top: 2%;
    color:#04645b;
    margin-right: 60%;
}

.des3{
    font-family: 'arial narrow bold';
    text-align: left;
    float: left;
    margin-top: 2%;
    color: #064a44;
    margin-left: 2%;
}

.btn1{
    width: 100px;
    height: 20px;
    background: #1ec1b1;
    border: 1px solid #04645b;
    margin-top: 30px;
    margin-left: 10%;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    float: center;
}

.btn1:hover{
    background: #c4e9e5;
    color: #04645b;
}

.btn1 a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

