*{
    margin: 0;
    padding: 0;
}


.main{
    width: 100%;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo{
    padding-left: 40px;
    float: left;
    padding-top: 5px;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:#fff;
    position: relative;
}

.content span{
    color:violet;
}

.form{
    width: 250px;
    height: 300px;
    background:#fff;
    position:absolute;
    top:-240px;
    left:700px;
    border-radius: 10px;
    padding: 60px;
}

.form h3{
    width: 220px;
    font-family: 'Arial Narrow Bold';
    text-align: center;
    color:#7fffd4;
    font: size 22px;
    background-color: #fff;
    border-radius: 10px;
    margin:2px;
    padding: 8px;
}

.form input{
    width: 250px;
    height: 36px;
    background: transparent;
    border-bottom: 1px solid #04645b;
    border-bottom: 1px solid #04645b;
    border-top: 1px solid #04645b;
    border-left: 1px solid #04645b;
    color:black;
    font-size: 15px;
    padding: 2px;
    letter-spacing: 2px;
    margin-top:40px;
    font-family: 'Arial Narrow Bold';
}

.btn{
    width: 250px;
    height: 40px;
    background:#1ec1b1;
    border: none;
    margin-top: 35px;
    font-size: 18px;
    border-radius: 1px;
    cursor:pointer;
    color: #fff;
}

.btn:hover{
    background: #c4e9e5;
    color:#04645b;
}

.btn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}





















